/* Sidebar Styles */

/* Logo Container */
.logoContainer {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.logoContainer svg {
  width: 95px;
  height: 28px;
}

/* Navigation Menu */
.navMenu {
  padding: 0 16px;
  margin-bottom: 16px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #0E121B;
  border-bottom: 1px solid #e0e4ea;
}

.navItem:hover {
  background-color: #F3F5F8;
}



.navItem p {
  flex: 1;
  margin: 0;
  padding: 0;
  font: 500 14px/1.2 "Inter", sans-serif;
  letter-spacing: -0.2px;
  color: inherit;
}

.navItem svg:last-of-type {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: auto;
}


/* Tags Section */
.tagsSection {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  overflow-y: auto;
}

.tagsTitle {
  font: 500 16px/1.2 "Inter", sans-serif;
  color: #717784;
  margin: 0;
  padding: 0;
  letter-spacing: -0.2px;
}

.tagsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.tagsList li {
  list-style: none;
}

.tagButton {
  padding: 4px 4px;
  background-color: transparent;
  border: none;
  text-align: left;
  color: #2B303B;
  font: 400 14px/1.2 "Inter", sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: -0.2px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}


.tagButton:hover {
  background-color: #f9fafb;
  color: #0e121b;
}

.tagButton:active {
  background-color: #ebf1ff;
  color: #3356ff;
}
